
@font-face {
    font-family: alice;
    src: url(../fonts-alice/AkzidenzGroteskPro-Regular.otf);
}

html, body {
    font-family: alice!important;
}

.aliceblogs-field-width {
    width: 50% !important;
}

#aliceblogs-page-home {
    display: flex;
}

#aliceblogs-page-home a {
    margin-right: 1em;
}


#aliceblogs-newuser-role {
    padding: 1em;
    text-transform: uppercase;
    max-height: 300px;
}

.aliceblogs-metabox-title {
    font-weight: bold !important;
    font-size: 1.3em !important;
    padding-left: 0 !important;
}

.aliceblogs-metabox-subtitle {
    font-weight: bold !important;
    font-size: 1.1em !important;
    padding-left: 0 !important;
}

.aliceblogs-metabox-item {
    font-size: 14px;
}