@font-face {
  font-family: alice;
  src: url(./fonts-alice/AkzidenzGroteskPro-Regular.otf);
}

html, body {
    font-family: alice!important;
}

.box-v {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.box-h {
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

:root {
    --white: #ffffff;
    --light: #f0eff3;
    --black: #000000;
    --dark-blue: #1f2029;
    --dark-light: #353746;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --grey: #ecedf3;

}

.box-v [type="checkbox"]:checked,
.box-v [type="checkbox"]:not(:checked),
.box-v [type="radio"]:checked,
.box-v [type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
    position: relative;
    display: inline-block;
    padding: .5em .5em .5em 0;
    width: 100%;
    min-width: 60px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-right: 5px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--black);
}

.checkbox-tools:hover + label:hover{
    color: red;
}
.checkbox-tools:checked + label{
    color: red;
}

#aliceblogs-header {
    display: flex;
}

#aliceblogs-header-menu {
    text-align: right;
}

#aliceblogs-searchbar {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--grey);
}

#aliceblogs-searchbar:focus {
    border-color: red;
}

#aliceblogs-searchbar-proposal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
}

.proposal-tag {
    margin-right: 1em;
    border: 1px solid var(--grey);
    padding: .3em;
    margin-bottom: .3em;
}

.proposal-tag:hover {
    cursor: pointer;
    color: var(--black);
    border: 1px solid var(--black)
}

#aliceblogs-searchbar-proposal-title {
    margin-right: 1em;
    font-size: 15px;
}

/* Divi - Stick footer to bottom */
#page-container #et-boc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: 100vh;
}

#et-main-area {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

#et-main-area, #main-content  {
    -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/** Edit WP footer class **/
#footer-info {
    text-align: center !important;
    float: none !important;
}

/**** MOSAIC CONTENT ****/
#aliceblogs-filter-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
}

.aliceblogs-filter-cell {
    border: 2px solid var(--black);
    padding: 1em;
}

#aliceblogs-carddeck {
  text-align: left;
  column-count: 4;
  column-gap: 8px; }
  @media screen and (max-width: 1200px) {
    #aliceblogs-carddeck {
      column-count: 2; } }
  @media screen and (max-width: 800px) {
    #aliceblogs-carddeck {
      column-count: 1; } }
  #aliceblogs-carddeck > .aliceblogs-card {
    margin-bottom: 8px;
    break-inside: avoid;
    page-break-inside: avoid;
    page-break-before: avoid;
}

.aliceblogs-card {
    display: block;
    margin-bottom: 8px;
    break-inside: avoid;
    page-break-inside: avoid;
    page-break-before: avoid;
}

.aliceblogs-card-img {
    width: 100%;
}


.aliceblogs-card-text {
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

}

.aliceblogs-card:hover .aliceblogs-card-text{
    visibility: visible;
    opacity: 1;
}

.aliceblogs-nocard {
    color: var(--grey);
    font-size: 20px;
}



.aliceblogs-view-options {
    display: flex; 
    justify-content: space-between; 
    width: 50px;
    color: var(--black);
}

.aliceblogs-view-options > div:hover {
    cursor: pointer;
}

.aliceblogs-view-active {
    color: #666
}

.aliceblogs-list {
    margin-bottom: 4em;
    color: var(--black);
    width: 100%;
}

.aliceblogs-list-footer {
    margin-top: 2em;
    border-bottom: 1px solid var(--black);
}

.aliceblogs-list-title > h1 > a:hover {
    text-decoration: underline;
}

.aliceblogs-list-content {
    text-align: justify;
}


/***** LOADER *****/

#container-loader {
    display: flex;
    width: 100%;
    justify-content: center;
}
.loader {
    width:45px;
    height:45px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:black;
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color: black;
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
 }
 @keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }