.box-v {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.box-h {
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

:root {
    --white: #ffffff;
    --light: #f0eff3;
    --black: #000000;
    --dark-blue: #1f2029;
    --dark-light: #353746;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --grey: #ecedf3;
}

.box-v [type="checkbox"]:checked,
.box-v [type="checkbox"]:not(:checked),
.box-v [type="radio"]:checked,
.box-v [type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
    position: relative;
    display: inline-block;
    padding: .5em .5em .5em 0;
    font-weight: bold;
    width: 100%;
    min-width: 60px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-right: 5px;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--black);
}

.checkbox-tools:hover + label:hover{
    color: red;
}
.checkbox-tools:checked + label{
    color: red;
}

/** Edit WP footer class **/
#footer-info {
    text-align: center !important;
    float: none !important;
}

/**** MOSAIC CONTENT ****/
#aliceblogs-filter-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1em;
}

.aliceblogs-filter-cell {
    border: 2px solid var(--black);
    padding: 1em;
}

#aliceblogs-carddeck {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: wrap;
    width: 100%;
}

.aliceblogs-card {
    display: block;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    align-items: center;
}

.aliceblogs-nocard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hvrbox > img.hvrbox-layer_bottom {
    max-width: 300px!important;
    height: auto!important;
}

.aliceblogs-view-options {
    display: flex; 
    justify-content: space-between; 
    width: 50px;
    color: var(--black);
}

.aliceblogs-view-options > div:hover {
    cursor: pointer;
}

.aliceblogs-view-active {
    color: #666
}

.aliceblogs-list {
    margin-bottom: 4em;
    color: var(--black);
    width: 100%;
}

.aliceblogs-list-footer {
    margin-top: 2em;
    border-bottom: 1px solid var(--black);
}

.aliceblogs-list-title > h1 > a:hover {
    text-decoration: underline;
}

.aliceblogs-list-content {
    text-align: justify;
}

/***** HOVER BOX FROM : http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/ *****/
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

/***** LOADER *****/

#container-loader {
    display: flex;
    width: 100%;
    justify-content: center;
}
.loader {
    width:45px;
    height:45px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:black;
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color: black;
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
 }
 @keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }